
<nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand text-white">Portfolio Management System</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
  
  
  <div  class="form-details" >
  <div class="form-div">
    
    <strong style="font-size: 60px;">Portfolio Id : {{userId}} </strong><br>
    <strong style="font-size: 60px;">Username    : {{customerName}}</strong>
    
  </div>
  <div class="form-div-div" >
    <div class="form-group col-md-8 offset-md-2">
      <button  style="height: 80px; width: 200px; border-radius: 2em;" class="btn btn-lg btn-primary" (click)="onGetNetWorth()">GetNetWorth</button>
    </div>
  </div>
